@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 0, 0%, 80%, 1;
    --input: 0, 0%, 80%, 1;

    --primary: 245, 80%, 63%, 1;
    --primary-foreground: 0, 0%, 100%, 1;
    --primary-hover: 245, 100%, 77%, 1;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 245, 80%, 63%, 1;
    --secondary-hover: 245, 100%, 77%, 1;

    --accent: 210 40% 96.1%;
    --accent-foreground: 245, 80%, 63%, 1;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0, 0%, 100%, 1;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 0, 0%, 100%, 1;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 0, 0%, 100%, 1;

    --card: 222.2 84% 4.9%;
    --card-foreground: 0, 0%, 100%, 1;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 0, 0%, 100%, 1;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 0, 0%, 100%, 1;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 0, 0%, 100%, 1;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  @font-face {
    font-family: "TT Hoves";
    font-weight: 400;
    src:
      url("/fonts/TTHovesRegular/font.woff2") format("woff2"),
      url("/fonts/TTHovesRegular/font.woff") format("woff");
    font-display: swap;
  }

  @font-face {
    font-family: "TT Hoves";
    font-weight: 500;
    src:
      url("/fonts/TTHovesMedium/font.woff2") format("woff2"),
      url("/fonts/TTHovesMedium/font.woff") format("woff");
    font-display: swap;
  }

  @font-face {
    font-family: "TT Hoves";
    font-weight: 600;
    src:
      url("/fonts/TTHovesDemiBold/font.woff2") format("woff2"),
      url("/fonts/TTHovesDemiBold/font.woff") format("woff");
    font-display: swap;
  }
}

@layer components {
  .endpts {
    .epn_image {
      font-size: 0;
      margin-bottom: 1.5625rem;
      position: relative;
      overflow: hidden;
      border-radius: 6px;
      border: solid 1px #dfdfdf;
      img {
        display: inline-block;
        width: 100%;
        height: auto;
      }
      h6 {
        display: block;
        padding: 0.75rem;
        font-size: 1rem;
        line-height: 1.375rem;
        color: #2d2d2d;
        text-align: center;
      }
    }
    .epn_image_aside {
      float: left;
      margin-right: 2rem;
      width: 13.75rem;
      span {
        display: block;
        padding: 0.75rem;
        font-size: 1rem;
        line-height: 1.375rem;
        color: #2d2d2d;
        text-align: center;
      }
    }
    .epn_image_aside_align_right {
      float: right;
      margin-left: 2rem;
      margin-right: 0;
    }
  }

  .endpts-time {
    span.epn_time_updated {
      font-style: italic;
      margin-left: 5px;
    }
  }
}

/* Monochrome icons */

.icon--vita {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.icon--vita--asterisk {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m12 12 8-4.5M12 12v9m0-9L4 7.5m8 4.5 8 4.5M12 3v9m0 0-8 4.5'/%3E%3C/svg%3E");
}

.icon--vita--bell {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cg fill='black'%3E%3Cpath d='M15.127 12.114H.873a.813.813 0 00-.873.732v1.277a.813.813 0 00.873.732h14.254a.813.813 0 00.873-.732v-1.277a.813.813 0 00-.873-.732zM2.66 10.19a1.13 1.13 0 01-1.12-1.333 6.594 6.594 0 0112.915 0 1.13 1.13 0 01-1.12 1.333z'/%3E%3Cpath d='M8.957 2.642H7.048V4.55h1.909z'/%3E%3Cpath d='M9.386 1.142H6.609a.626.626 0 00-.626.626v.657c0 .345.28.626.626.626h2.777c.346 0 .626-.28.626-.626v-.657a.626.626 0 00-.626-.626z'/%3E%3C/g%3E%3C/svg%3E");
}

.icon--vita--bro {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cpath fill='black' stroke='black' stroke-miterlimit='10' stroke-width='.944' d='M11.328 8.871a2.415 2.416 0 100-4.831 2.415 2.416 0 000 4.832zm3.241 5.407a.958.959 0 00.701-1.614 5.421 5.424 0 00-7.884 0 .958.959 0 00.7 1.614zM3.765 5.518a1.897 1.898 0 100-3.796 1.897 1.898 0 000 3.797zm2.547 4.45a.756.756 0 00.551-1.269 4.263 4.265 0 00-6.193 0 .756.756 0 00.55 1.269z'/%3E%3C/svg%3E");
}

.icon--vita--chevron {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cpath fill='black' fill-rule='evenodd' d='M0 11.008 8 2.7l8 8.308-2.369 2.292L8 7.452 2.369 13.3Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.icon--vita--cog {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cpath fill='black' fill-rule='evenodd' d='M6.992 0h2.039a.41.41 0 01.302.253l.246 1.786c.124.673.989 1.05 1.545.618L12.55 1.6a.278.278 0 01.37 0l1.483 1.482a.278.278 0 010 .37l-1.05 1.423c-.432.556-.061 1.42.619 1.545l1.78.252c.124.063.247.125.247.31v2.04a.408.408 0 01-.248.31l-1.786.246c-.673.124-1.05.989-.618 1.545l1.056 1.428a.278.278 0 010 .37l-1.49 1.483a.278.278 0 01-.363 0l-1.422-1.05c-.556-.432-1.42-.061-1.544.619l-.253 1.78a.409.409 0 01-.31.247h-2.03c-.187 0-.249-.123-.31-.248l-.256-1.786c-.124-.673-.989-1.05-1.545-.618l-1.428 1.056a.278.278 0 01-.37 0L1.6 12.916a.278.278 0 010-.364l1.05-1.422c.432-.556.061-1.42-.62-1.544L.254 9.333A.41.41 0 010 9.023v-2.03c0-.187.123-.249.248-.31l1.79-.256c.674-.124 1.052-.989.62-1.545L1.6 3.454a.278.278 0 010-.37L3.083 1.6a.278.278 0 01.37 0l1.423 1.05c.556.432 1.42.061 1.545-.62L6.673.254A.41.41 0 016.993 0Zm.98 4.633a3.37 3.37 0 11-3.339 3.4 3.35 3.35 0 013.34-3.4Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.icon--vita--cow-swap {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cg fill='black' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M11.653 1.662c.883-.162 4.188-.769 4.335.265.151 1.058-1.21 2.518-2.636 3.174a1.289 1.289 0 00-.208.13c-.056.04-.111.08-.172.112-.224.12-.358.419-.325.69v3.781C11.523 9.037 9.872 8.554 8 8.554s-3.523.483-4.647 1.26V6.032c.033-.27-.101-.57-.325-.69a1.58 1.58 0 01-.172-.11 1.124 1.124 0 00-.209-.13C1.223 4.444-.139 2.984.011 1.926.16.893 3.464 1.5 4.347 1.662l.162.029c.026.004.05-.017.045-.042-.051-.25-.088-.926.4-1.073.31-.093.516.08.638.254.055.078.218.416.32.65.054.128.182.313.321.31A6.01 6.007 0 018 1.52c.59 0 1.18.09 1.766.27.14.003.268-.183.323-.31.1-.234.264-.572.319-.65.122-.175.327-.347.639-.254.487.147.45.823.4 1.073-.006.025.018.046.043.042a4.72 4.72 0 00.163-.03zM7.298 5.848c.017-.095-.14-.338-.629-.667a4.075 4.073 0 00-1.12-.52.92.919 0 00-.288-.041.917.917 0 00-.497.171.839.839 0 00-.379.552.828.828 0 00.164.647.903.903 0 00.407.328c.09.036.188.052.285.058a4.13 4.13 0 001.234-.111c.574-.146.805-.321.823-.417zm3.746.47a.902.901 0 00.407-.328.83.83 0 00.164-.647.838.838 0 00-.379-.552.914.914 0 00-.497-.171.92.919 0 00-.288.041 4.074 4.071 0 00-1.12.52c-.49.33-.645.572-.63.667.019.096.25.271.824.417.402.1.82.136 1.234.11a.926.926 0 00.285-.057z'/%3E%3Cpath d='M2.464 12.316c0-1.73 2.478-3.133 5.536-3.133 3.057 0 5.536 1.403 5.536 3.133S11.058 15.45 8 15.45s-5.536-1.403-5.536-3.134zm1.916-.195c.085.516.526.743 1 .516a1.361 1.36 0 00.792-1.162c-.002-.266-.145-.163-.322-.038-.236.169-.532.38-.632-.188-.174-.992-.93.32-.838.872zm6.24.516c.474.227.915 0 1-.516.092-.551-.664-1.864-.839-.872-.099.568-.396.357-.632.188-.176-.126-.32-.228-.321.038a1.36 1.36 0 00.792 1.162z'/%3E%3C/g%3E%3C/svg%3E");
}

.icon--vita--email {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cg fill='black'%3E%3Cpath d='M6.533 8.354a2.316 2.316 0 002.912 0l6.159-4.932a1.01 1.01 0 00.375-.787 1.004 1.004 0 00-1.01-1.01H1.009A1.004 1.004 0 000 2.635a1.01 1.01 0 00.375.787Z'/%3E%3Cpath d='M10.46 9.565a3.895 3.895 0 01-4.9 0L1.639 6.393A.994.994 0 00.02 7.17v6.211a.994.994 0 00.995.994h13.991a.994.994 0 00.994-.994V7.197a.995.995 0 00-1.618-.777Z'/%3E%3C/g%3E%3C/svg%3E");
}

.icon--vita--ethereum {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 7' width='7' height='7'%3E%3Cpath fill='black' fill-rule='evenodd' d='M3.5 0a.252.252 0 01.203.102l2.255 3.062L3.5 3.98l-2.46-.816L3.298.102A.252.252 0 013.5 0zM1.034 3.827l2.262 3.07a.252.252 0 00.406 0l2.262-3.07-2.365.785a.316.316 0 01-.199 0l-2.366-.785z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.icon--vita--exit {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cg fill='black'%3E%3Cpath d='M5.437 6.481h7.616v3.032H5.437a.605.605 0 01-.446-.18.638.638 0 01-.187-.453V7.12a.654.654 0 01.186-.457.618.618 0 01.447-.182Z'/%3E%3Cpath d='m12.957 4.655 2.896 2.977a.518.518 0 01.147.365.53.53 0 01-.147.367l-2.896 2.977a.488.488 0 01-.561.13.505.505 0 01-.233-.198.528.528 0 01-.079-.3v-5.95a.528.528 0 01.08-.3.506.506 0 01.23-.199.49.49 0 01.563.13zM9.5 15.58H2.73a2.692 2.692 0 01-1.93-.822 2.846 2.847 0 01-.8-1.984V3.226c0-.743.287-1.458.8-1.984A2.692 2.693 0 012.729.42h6.769c.167 0 .327.067.446.19.118.12.185.285.187.457v.498a.663.663 0 01-.185.46.624.624 0 01-.448.191h-6.77a.968.968 0 00-.694.296c-.185.19-.288.446-.288.714v9.548c0 .268.103.524.288.714a.97.97 0 00.695.296h6.769a.613.613 0 01.447.187.647.647 0 01.185.46v.498a.661.661 0 01-.185.46.625.625 0 01-.447.191Z'/%3E%3C/g%3E%3C/svg%3E");
}

.icon--vita--gavel {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cg fill='black'%3E%3Cpath d='M12.092 6.452 6.97 1.315 3.712 4.584 8.834 9.72z'/%3E%3Cpath d='M8.054 1.259 7.03.23a.787.79 0 00-1.114 0L2.628 3.528a.787.79 0 000 1.117l1.026 1.028a.787.79 0 001.113 0l3.287-3.296a.787.79 0 000-1.118zm5.121 5.135-1.026-1.028a.787.79 0 00-1.113 0L7.749 8.662a.787.79 0 000 1.117l1.025 1.029a.787.79 0 001.114 0l3.287-3.297a.787.79 0 000-1.117zM5.41 8.42l-.4-.401a1.23 1.234 0 00-1.738 0L.61 10.688a1.23 1.234 0 000 1.745l.4.4a1.23 1.234 0 001.74 0l2.66-2.668a1.23 1.234 0 000-1.745z'/%3E%3Cpath d='M7.258 7.378a.86.862 0 10-1.215-1.217L2.86 9.354a.86.862 0 101.215 1.217zm7.707 5.125H7.537a.788.788 0 00-.787.79v1.918c0 .436.353.789.787.789h7.426a.788.788 0 00.787-.79v-1.917a.788.788 0 00-.787-.79z'/%3E%3C/g%3E%3C/svg%3E");
}

.icon--vita--home {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cpath fill='black' d='M14.768 15.999h-4.024a.724.724 0 01-.732-.712v-3.553c0-1.084-.897-1.956-2.013-1.956-1.114 0-2.01.872-2.01 1.956v3.556c0 .39-.33.71-.734.71H1.233a.724.724 0 01-.733-.713V8.55c0-.533.202-1.03.568-1.421L7.45.23A.804.804 0 017.999 0a.8.8 0 01.55.231l6.383 6.88c.367.392.568.906.568 1.422v6.754a.723.723 0 01-.732.712z'/%3E%3C/svg%3E");
}

.icon--vita--linkedin {
  width: 1.03em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.372 14' width='14.372' height='14'%3E%3Cpath fill='black' d='M3.252 1.514c0 .838-.622 1.521-1.657 1.521C.622 3.035 0 2.352 0 1.515 0 .654.649 0 1.643 0s1.595.656 1.615 1.514zm-3.17 12.48V4.231H3.15v9.761zm4.907-6.646c0-1.217-.04-2.23-.081-3.116h2.67L7.72 5.59h.06c.4-.642 1.393-1.575 3.056-1.575 2.021 0 3.536 1.339 3.536 4.212V14h-3.076V8.579c0-1.258-.446-2.116-1.555-2.116-.845 0-1.352.581-1.575 1.135-.081.244-.115.5-.101.757v5.632h-3.07V7.34z'/%3E%3C/svg%3E");
}

.icon--vita--logo {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cpath fill='black' d='m3.747 2.042.139.092a7.353 7.353 0 008.355-.013c2.068-1.438 4.69.874 3.43 3.03L11.374 12.5c-1.48 2.533-5.216 2.533-6.702 0L.33 5.073C-.93 2.93 1.677.61 3.747 2.042Z'/%3E%3C/svg%3E");
}

.icon--vita--pagination-last {
  width: 0.82em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11.346 14' width='11.346' height='14'%3E%3Cpath fill='none' stroke='black' stroke-miterlimit='10' stroke-width='1.508' d='M.533.533 7 7 .533 13.467M10.592.533v12.934'/%3E%3C/svg%3E");
}

.icon--vita--pagination-next {
  width: 0.59em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8.137 14' width='8.137' height='14'%3E%3Cpath fill='none' stroke='black' stroke-miterlimit='10' stroke-width='1.608' d='M.568.568 7 7 .568 13.432'/%3E%3C/svg%3E");
}

.icon--vita--phone {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12'%3E%3Cpath fill='black' d='M3.273 12q-.45 0-.771-.32-.32-.321-.32-.77V1.09q0-.45.32-.77.321-.32.77-.32h5.455q.45 0 .771.32.32.321.32.77v9.82q0 .45-.32.77-.321.32-.77.32zm0-2.727h5.454V2.727H3.273Z'/%3E%3C/svg%3E");
}

.icon--vita--piechart {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cg fill='black'%3E%3Cpath d='M9.899.01C9.302-.08 8.81.418 8.81 1.02v5.076a1.092 1.092 0 001.092 1.092h5.076c.603 0 1.101-.491 1.01-1.087A7.264 7.259 0 009.9.01Z'/%3E%3Cpath d='M8.343 8.745A1.092 1.092 0 017.25 7.653V2.582c0-.604-.491-1.1-1.089-1.01a7.26 7.256 0 108.278 8.261c.09-.596-.407-1.088-1.01-1.088Z'/%3E%3C/g%3E%3C/svg%3E");
}

.icon--vita--search {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14' width='14' height='14'%3E%3Cg fill='none' stroke='black' stroke-width='1.452' transform='translate(-.18 -.25)'%3E%3Crect width='11.03' height='11.03' x='.976' y='.976' rx='5.515'/%3E%3Cpath d='m10.287 10.427 3.31 3.31'/%3E%3C/g%3E%3C/svg%3E");
}

.icon--vita--shapes {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cg fill='black' transform='matrix(1.04735 0 0 1.04667 -.758 .15)'%3E%3Crect width='6' height='6' x='1' rx='1'/%3E%3Crect width='6' height='6' x='10' y='9' rx='1'/%3E%3Crect width='6' height='6' x='10' rx='3'/%3E%3Cpath d='m.855 13.504 2.277-3.985a1 1 0 011.736 0l2.277 3.985A1 1 0 016.277 15H1.723a1 1 0 01-.868-1.496Z'/%3E%3C/g%3E%3C/svg%3E");
}

.icon--vita--uniswap {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cg fill='black'%3E%3Cpath d='M5.204 1.166c-.209-.032-.218-.036-.119-.05.189-.029.632.01.938.082.714.168 1.364.6 2.058 1.37l.184.203.264-.042c1.111-.177 2.24-.036 3.186.397.26.12.67.357.72.418.018.02.048.144.067.278.07.464.036.818-.107 1.083-.077.144-.082.19-.03.313a.304.304 0 00.273.171c.235 0 .488-.377.605-.902l.046-.21.092.104c.507.57.904 1.346.971 1.899l.018.144-.084-.131a1.621 1.621 0 00-.482-.502c-.34-.223-.699-.3-1.648-.35-.858-.044-1.344-.117-1.825-.274-.82-.266-1.232-.618-2.206-1.887-.432-.564-.698-.876-.964-1.126-.605-.571-1.198-.87-1.957-.987z'/%3E%3Cpath d='M12.63 2.424c.022-.377.073-.626.177-.854a.915.915 0 01.085-.164.584.584 0 01-.04.148c-.075.222-.088.523-.035.875.066.445.103.51.576.99.223.227.482.511.576.634l.17.222-.17-.159c-.209-.194-.688-.573-.794-.627-.071-.036-.082-.036-.125.007-.041.04-.05.1-.056.384-.008.443-.069.726-.215 1.01-.079.154-.09.121-.02-.053.053-.129.059-.186.059-.614 0-.86-.104-1.067-.706-1.42a6.62 6.62 0 00-.56-.288 2.12 2.12 0 01-.272-.133c.017-.017.604.154.84.244.353.135.41.152.454.136.028-.01.042-.094.055-.338zM5.608 3.896c-.422-.58-.685-1.467-.627-2.131l.017-.206.096.017c.182.033.493.149.64.237.4.242.574.56.75 1.379.053.239.12.51.151.603.05.147.24.492.395.716.11.162.038.238-.209.216-.375-.033-.884-.382-1.213-.831zm6.508 4.31c-1.978-.791-2.674-1.479-2.674-2.637 0-.171.005-.31.013-.31.007 0 .083.055.17.125.4.319.85.455 2.094.636.732.107 1.142.192 1.522.317 1.209.398 1.955 1.205 2.134 2.306a3.8 3.8 0 01-.063 1.235c-.067.25-.269.698-.322.716-.016.005-.03-.051-.033-.129-.02-.412-.23-.815-.583-1.116-.402-.343-.94-.616-2.258-1.142zm-1.388.329a3.474 3.474 0 00-.096-.416l-.05-.15.094.106c.13.144.233.329.319.576.067.189.073.244.073.55 0 .3-.009.364-.07.532a1.683 1.683 0 01-.418.661c-.361.366-.826.568-1.497.652-.116.015-.455.04-.754.055-.752.038-1.248.12-1.693.275a.36.36 0 01-.127.03c-.018-.018.286-.198.535-.318.353-.17.704-.261 1.492-.391.388-.064.79-.143.892-.174.963-.293 1.458-1.05 1.3-1.988z'/%3E%3Cpath d='M11.635 10.136c-.263-.561-.324-1.103-.18-1.609.016-.055.04-.099.056-.099a.52.52 0 01.137.075c.122.08.364.217 1.011.567.808.438 1.269.777 1.581 1.165.274.338.444.725.526 1.195.047.266.019.91-.05 1.177-.217.848-.72 1.513-1.441 1.9-.106.057-.2.104-.211.104-.01 0 .029-.096.085-.215.243-.503.27-.992.088-1.537-.113-.334-.342-.74-.803-1.43-.536-.797-.667-1.011-.8-1.293zm-7.431 3.03c.735-.616 1.647-1.053 2.48-1.188a3.892 3.892 0 011.287.05c.533.135 1.01.439 1.257.799.241.354.346.66.454 1.346.042.27.089.541.102.602.081.355.24.639.435.78.31.227.847.241 1.374.037a.685.685 0 01.172-.053c.018.019-.247.195-.433.288a1.48 1.48 0 01-.718.173c-.483 0-.883-.244-1.218-.74a5.877 5.877 0 01-.328-.652c-.353-.8-.527-1.043-.936-1.31-.357-.233-.817-.274-1.163-.105-.455.222-.581.798-.255 1.164a1.01 1.01 0 00.568.295.604.604 0 00.686-.603c0-.24-.093-.377-.327-.484-.32-.143-.663.025-.662.323 0 .128.056.207.185.266.082.037.084.039.017.026-.293-.061-.362-.413-.127-.646.284-.279.87-.156 1.07.227.085.16.095.48.021.673-.166.432-.645.66-1.133.535-.332-.084-.467-.175-.867-.584-.695-.712-.965-.85-1.967-1.006l-.193-.03z'/%3E%3Cpath fill-rule='evenodd' d='M.942.426c2.321 2.801 3.921 3.956 4.099 4.2.146.202.09.384-.16.526a1.531 1.531 0 01-.571.158c-.163 0-.22-.062-.22-.062-.094-.088-.147-.073-.632-.928a147.426 147.426 0 00-1.25-1.914c-.036-.033-.035-.033 1.183 2.133.196.451.039.616.039.68 0 .131-.037.2-.199.38-.27.3-.391.637-.479 1.335-.097.781-.372 1.334-1.135 2.28-.446.553-.52.654-.632.878-.142.28-.181.438-.197.791a2.47 2.47 0 00.131.976c.1.315.207.521.476.936.233.358.366.624.366.728 0 .082.015.082.377.001.86-.192 1.56-.532 1.954-.95.244-.258.3-.4.302-.754.001-.23-.006-.28-.07-.412-.102-.216-.288-.397-.698-.677-.539-.366-.77-.66-.832-1.064-.053-.333.008-.567.305-1.186.308-.644.385-.917.437-1.564.033-.418.079-.583.2-.716.126-.138.24-.184.552-.226.509-.07.831-.2 1.098-.444a.946.946 0 00.343-.723l.011-.233-.13-.148C5.145 3.886.63 0 .6 0 .594 0 .747.192.942.426zM2.024 11.31a.41.41 0 00-.128-.542c-.166-.111-.427-.058-.427.085 0 .045.025.077.08.104.093.048.1.101.027.211-.075.11-.068.206.016.273.137.105.33.048.432-.13zM6.06 6.098c-.239.072-.47.323-.543.587-.044.161-.018.444.047.53.107.141.209.178.487.177.543-.004 1.016-.235 1.071-.526.044-.237-.163-.565-.449-.71a1.07 1.07 0 00-.613-.058zm.636.493c.083-.119.047-.246-.096-.333-.27-.165-.682-.028-.682.227 0 .127.214.266.41.266.131 0 .31-.078.368-.16z' clip-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E");
}

.icon--vita--wallet {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cg fill='none'%3E%3Cg clip-path='url(%23svgID0)' transform='matrix(.88889 0 0 .8888 0 .89)'%3E%3Cpath fill='black' d='M16.104 5.004H3.318a.923.923 0 01-.67-.293 1.03 1.03 0 01-.278-.708c0-.266.1-.52.278-.708a.923.923 0 01.67-.293h9.92a.447.447 0 00.337-.145.497.497 0 00.137-.355v-.5c0-.263-.047-.523-.142-.766a2.006 2.006 0 00-.41-.65 1.887 1.887 0 00-.614-.434c-.23-.1-.476-.152-.724-.152H1.896a1.852 1.852 0 00-1.34.588A2.065 2.065 0 000 2v12.003c0 .263.05.523.144.765.096.243.236.463.412.649.176.185.385.332.615.432.23.1.476.15.725.15h14.208c.249 0 .495-.05.725-.15.23-.1.44-.247.615-.432a2.01 2.01 0 00.412-.649c.095-.242.144-.502.144-.765v-6.98c0-.263-.05-.523-.144-.765a2.007 2.007 0 00-.412-.649 1.887 1.887 0 00-.615-.432c-.23-.1-.476-.15-.725-.15zm-1.896 6.498a.923.923 0 01-.67-.293 1.03 1.03 0 01-.278-.707c0-.132.024-.262.072-.383a.976.976 0 01.693-.592.902.902 0 01.545.057.96.96 0 01.424.366 1.04 1.04 0 01-.113 1.262.947.947 0 01-.31.216.905.905 0 01-.363.074z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='svgID0'%3E%3Cpath fill='%23fff' d='M0 0h18v16H0Z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
}

.icon--vita--warning {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cg fill='black'%3E%3Cpath fill-rule='evenodd' d='M6.88 1.144a2.216 2.216 0 012.24 0 2.211 2.212 0 01.81.826l5.765 9.86a2.208 2.21 0 01.007 2.228 2.211 2.212 0 01-.82.813 2.216 2.216 0 01-1.118.289H2.236a2.216 2.216 0 01-1.117-.289 2.211 2.212 0 01-.82-.813 2.207 2.208 0 01.006-2.228l5.764-9.86c.192-.342.472-.627.81-.826zM8 1.632a1.421 1.422 0 00-1.24.728l-.004.007L.99 12.23v.001a1.416 1.416 0 00.522 1.951 1.421 1.422 0 00.718.186h11.54a1.421 1.422 0 001.244-.707 1.416 1.417 0 00-.004-1.43L9.24 2.36A1.419 1.419 0 008 1.632z' clip-rule='evenodd'/%3E%3Cpath d='m7.507 9.44-.265-2.077v-1.23a.421.421 0 01.118-.29.393.393 0 01.284-.117h.712a.38.38 0 01.284.116.41.41 0 01.118.291v1.223l-.235 2.076a.42.42 0 01-.132.256.394.394 0 01-.262.104h-.22a.379.379 0 01-.268-.094.404.404 0 01-.134-.258zm-.174 1.943v-.572c0-.108.042-.212.115-.288a.388.388 0 01.28-.12h.552c.105 0 .205.044.28.12a.414.414 0 01.114.288v.572a.414.414 0 01-.115.288.388.388 0 01-.279.12h-.553c-.104 0-.205-.043-.279-.12s-.115-.18-.115-.288z'/%3E%3C/g%3E%3C/svg%3E");
}

.icon--vita--x {
  width: 1.11em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15.507 14' width='15.507' height='14'%3E%3Cpath fill='black' d='M12.249 0h2.38l-5.22 5.942L15.508 14h-4.786L6.976 9.099 2.69 14H.31l5.53-6.354L0 0h4.9l3.388 4.475zm-.831 12.607h1.318L4.205 1.345H2.792z'/%3E%3C/svg%3E");
}

/* Color icons */

.icon--logos--apple {
  background: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 256 315' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M213.803 167.03c.442 47.58 41.74 63.413 42.197 63.615c-.35 1.116-6.599 22.563-21.757 44.716c-13.104 19.153-26.705 38.235-48.13 38.63c-21.05.388-27.82-12.483-51.888-12.483c-24.061 0-31.582 12.088-51.51 12.871c-20.68.783-36.428-20.71-49.64-39.793c-27-39.033-47.633-110.3-19.928-158.406c13.763-23.89 38.36-39.017 65.056-39.405c20.307-.387 39.475 13.662 51.889 13.662c12.406 0 35.699-16.895 60.186-14.414c10.25.427 39.026 4.14 57.503 31.186c-1.49.923-34.335 20.044-33.978 59.822M174.24 50.199c10.98-13.29 18.369-31.79 16.353-50.199c-15.826.636-34.962 10.546-46.314 23.828c-10.173 11.763-19.082 30.589-16.678 48.633c17.64 1.365 35.66-8.964 46.64-22.262'/%3E%3C/svg%3E")
    no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  width: 1.2em;
  height: 1.2em;
}

.icon--logos--discord {
  background: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 256 199' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='%235865F2' d='M216.856 16.597A208.502 208.502 0 0 0 164.042 0c-2.275 4.113-4.933 9.645-6.766 14.046c-19.692-2.961-39.203-2.961-58.533 0c-1.832-4.4-4.55-9.933-6.846-14.046a207.809 207.809 0 0 0-52.855 16.638C5.618 67.147-3.443 116.4 1.087 164.956c22.169 16.555 43.653 26.612 64.775 33.193A161.094 161.094 0 0 0 79.735 175.3a136.413 136.413 0 0 1-21.846-10.632a108.636 108.636 0 0 0 5.356-4.237c42.122 19.702 87.89 19.702 129.51 0a131.66 131.66 0 0 0 5.355 4.237a136.07 136.07 0 0 1-21.886 10.653c4.006 8.02 8.638 15.67 13.873 22.848c21.142-6.58 42.646-16.637 64.815-33.213c5.316-56.288-9.08-105.09-38.056-148.36ZM85.474 135.095c-12.645 0-23.015-11.805-23.015-26.18s10.149-26.2 23.015-26.2c12.867 0 23.236 11.804 23.015 26.2c.02 14.375-10.148 26.18-23.015 26.18Zm85.051 0c-12.645 0-23.014-11.805-23.014-26.18s10.148-26.2 23.014-26.2c12.867 0 23.236 11.804 23.015 26.2c0 14.375-10.148 26.18-23.015 26.18Z'/%3E%3C/svg%3E")
    no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  width: 1.2em;
  height: 1.2em;
}

.icon--logos--farcaster {
  background: url("data:image/svg+xml,%3Csvg width='1000' height='1000' viewBox='0 0 1000 1000' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1000' height='1000' rx='200' fill='%23855DCD'/%3E%3Cpath d='M257.778 155.556H742.222V844.444H671.111V528.889H670.414C662.554 441.677 589.258 373.333 500 373.333C410.742 373.333 337.446 441.677 329.586 528.889H328.889V844.444H257.778V155.556Z' fill='white'/%3E%3Cpath d='M128.889 253.333L157.778 351.111H182.222V746.667C169.949 746.667 160 756.616 160 768.889V795.556H155.556C143.283 795.556 133.333 805.505 133.333 817.778V844.444H382.222V817.778C382.222 805.505 372.273 795.556 360 795.556H355.556V768.889C355.556 756.616 345.606 746.667 333.333 746.667H306.667V253.333H128.889Z' fill='white'/%3E%3Cpath d='M675.556 746.667C663.283 746.667 653.333 756.616 653.333 768.889V795.556H648.889C636.616 795.556 626.667 805.505 626.667 817.778V844.444H875.556V817.778C875.556 805.505 865.606 795.556 853.333 795.556H848.889V768.889C848.889 756.616 838.94 746.667 826.667 746.667V351.111H851.111L880 253.333H702.222V746.667H675.556Z' fill='white'/%3E%3C/svg%3E")
    no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  width: 1.2em;
  height: 1.2em;
}

.icon--logos--github {
  background: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 256 250' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='%23161614' d='M128.001 0C57.317 0 0 57.307 0 128.001c0 56.554 36.676 104.535 87.535 121.46c6.397 1.185 8.746-2.777 8.746-6.158c0-3.052-.12-13.135-.174-23.83c-35.61 7.742-43.124-15.103-43.124-15.103c-5.823-14.795-14.213-18.73-14.213-18.73c-11.613-7.944.876-7.78.876-7.78c12.853.902 19.621 13.19 19.621 13.19c11.417 19.568 29.945 13.911 37.249 10.64c1.149-8.272 4.466-13.92 8.127-17.116c-28.431-3.236-58.318-14.212-58.318-63.258c0-13.975 5-25.394 13.188-34.358c-1.329-3.224-5.71-16.242 1.24-33.874c0 0 10.749-3.44 35.21 13.121c10.21-2.836 21.16-4.258 32.038-4.307c10.878.049 21.837 1.47 32.066 4.307c24.431-16.56 35.165-13.12 35.165-13.12c6.967 17.63 2.584 30.65 1.255 33.873c8.207 8.964 13.173 20.383 13.173 34.358c0 49.163-29.944 59.988-58.447 63.157c4.591 3.972 8.682 11.762 8.682 23.704c0 17.126-.148 30.91-.148 35.126c0 3.407 2.304 7.398 8.792 6.14C219.37 232.5 256 184.537 256 128.002C256 57.307 198.691 0 128.001 0Zm-80.06 182.34c-.282.636-1.283.827-2.194.39c-.929-.417-1.45-1.284-1.15-1.922c.276-.655 1.279-.838 2.205-.399c.93.418 1.46 1.293 1.139 1.931Zm6.296 5.618c-.61.566-1.804.303-2.614-.591c-.837-.892-.994-2.086-.375-2.66c.63-.566 1.787-.301 2.626.591c.838.903 1 2.088.363 2.66Zm4.32 7.188c-.785.545-2.067.034-2.86-1.104c-.784-1.138-.784-2.503.017-3.05c.795-.547 2.058-.055 2.861 1.075c.782 1.157.782 2.522-.019 3.08Zm7.304 8.325c-.701.774-2.196.566-3.29-.49c-1.119-1.032-1.43-2.496-.726-3.27c.71-.776 2.213-.558 3.315.49c1.11 1.03 1.45 2.505.701 3.27Zm9.442 2.81c-.31 1.003-1.75 1.459-3.199 1.033c-1.448-.439-2.395-1.613-2.103-2.626c.301-1.01 1.747-1.484 3.207-1.028c1.446.436 2.396 1.602 2.095 2.622Zm10.744 1.193c.036 1.055-1.193 1.93-2.715 1.95c-1.53.034-2.769-.82-2.786-1.86c0-1.065 1.202-1.932 2.733-1.958c1.522-.03 2.768.818 2.768 1.868Zm10.555-.405c.182 1.03-.875 2.088-2.387 2.37c-1.485.271-2.861-.365-3.05-1.386c-.184-1.056.893-2.114 2.376-2.387c1.514-.263 2.868.356 3.061 1.403Z'/%3E%3C/svg%3E")
    no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  width: 1.2em;
  height: 1.2em;
}

.icon--logos--google {
  background: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 256 262' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='%234285F4' d='M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622l38.755 30.023l2.685.268c24.659-22.774 38.875-56.282 38.875-96.027'/%3E%3Cpath fill='%2334A853' d='M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055c-34.523 0-63.824-22.773-74.269-54.25l-1.531.13l-40.298 31.187l-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1'/%3E%3Cpath fill='%23FBBC05' d='M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82c0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782'/%3E%3Cpath fill='%23EB4335' d='M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0C79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251'/%3E%3C/svg%3E")
    no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  width: 1.2em;
  height: 1.2em;
}

.icon--logos--linkedin {
  background: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 256 256' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='%230A66C2' d='M218.123 218.127h-37.931v-59.403c0-14.165-.253-32.4-19.728-32.4c-19.756 0-22.779 15.434-22.779 31.369v60.43h-37.93V95.967h36.413v16.694h.51a39.907 39.907 0 0 1 35.928-19.733c38.445 0 45.533 25.288 45.533 58.186l-.016 67.013ZM56.955 79.27c-12.157.002-22.014-9.852-22.016-22.009c-.002-12.157 9.851-22.014 22.008-22.016c12.157-.003 22.014 9.851 22.016 22.008A22.013 22.013 0 0 1 56.955 79.27m18.966 138.858H37.95V95.967h37.97v122.16ZM237.033.018H18.89C8.58-.098.125 8.161-.001 18.471v219.053c.122 10.315 8.576 18.582 18.89 18.474h218.144c10.336.128 18.823-8.139 18.966-18.474V18.454c-.147-10.33-8.635-18.588-18.966-18.453'/%3E%3C/svg%3E")
    no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  width: 1.2em;
  height: 1.2em;
}

.icon--logos--tiktok {
  background: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 256 290' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='%23FF004F' d='M189.72 104.421c18.678 13.345 41.56 21.197 66.273 21.197v-47.53a67.115 67.115 0 0 1-13.918-1.456v37.413c-24.711 0-47.59-7.851-66.272-21.195v96.996c0 48.523-39.356 87.855-87.9 87.855c-18.113 0-34.949-5.473-48.934-14.86c15.962 16.313 38.222 26.432 62.848 26.432c48.548 0 87.905-39.332 87.905-87.857v-96.995h-.002Zm17.17-47.952c-9.546-10.423-15.814-23.893-17.17-38.785v-6.113h-13.189c3.32 18.927 14.644 35.097 30.358 44.898ZM69.673 225.607a40.008 40.008 0 0 1-8.203-24.33c0-22.192 18.001-40.186 40.21-40.186a40.313 40.313 0 0 1 12.197 1.883v-48.593c-4.61-.631-9.262-.9-13.912-.801v37.822a40.268 40.268 0 0 0-12.203-1.882c-22.208 0-40.208 17.992-40.208 40.187c0 15.694 8.997 29.281 22.119 35.9Z'/%3E%3Cpath d='M175.803 92.849c18.683 13.344 41.56 21.195 66.272 21.195V76.631c-13.794-2.937-26.005-10.141-35.186-20.162c-15.715-9.802-27.038-25.972-30.358-44.898h-34.643v189.843c-.079 22.132-18.049 40.052-40.21 40.052c-13.058 0-24.66-6.221-32.007-15.86c-13.12-6.618-22.118-20.206-22.118-35.898c0-22.193 18-40.187 40.208-40.187c4.255 0 8.356.662 12.203 1.882v-37.822c-47.692.985-86.047 39.933-86.047 87.834c0 23.912 9.551 45.589 25.053 61.428c13.985 9.385 30.82 14.86 48.934 14.86c48.545 0 87.9-39.335 87.9-87.857V92.85h-.001Z'/%3E%3Cpath fill='%2300F2EA' d='M242.075 76.63V66.516a66.285 66.285 0 0 1-35.186-10.047a66.47 66.47 0 0 0 35.186 20.163ZM176.53 11.57a67.788 67.788 0 0 1-.728-5.457V0h-47.834v189.845c-.076 22.13-18.046 40.05-40.208 40.05a40.06 40.06 0 0 1-18.09-4.287c7.347 9.637 18.949 15.857 32.007 15.857c22.16 0 40.132-17.918 40.21-40.05V11.571h34.643ZM99.966 113.58v-10.769a88.787 88.787 0 0 0-12.061-.818C39.355 101.993 0 141.327 0 189.845c0 30.419 15.467 57.227 38.971 72.996c-15.502-15.838-25.053-37.516-25.053-61.427c0-47.9 38.354-86.848 86.048-87.833Z'/%3E%3C/svg%3E")
    no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  width: 1.2em;
  height: 1.2em;
}

.icon--logos--twitter {
  background: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 256 209' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='%2355acee' d='M256 25.45a105.04 105.04 0 0 1-30.166 8.27c10.845-6.5 19.172-16.793 23.093-29.057a105.183 105.183 0 0 1-33.351 12.745C205.995 7.201 192.346.822 177.239.822c-29.006 0-52.523 23.516-52.523 52.52c0 4.117.465 8.125 1.36 11.97c-43.65-2.191-82.35-23.1-108.255-54.876c-4.52 7.757-7.11 16.78-7.11 26.404c0 18.222 9.273 34.297 23.365 43.716a52.312 52.312 0 0 1-23.79-6.57c-.003.22-.003.44-.003.661c0 25.447 18.104 46.675 42.13 51.5a52.592 52.592 0 0 1-23.718.9c6.683 20.866 26.08 36.05 49.062 36.475c-17.975 14.086-40.622 22.483-65.228 22.483c-4.24 0-8.42-.249-12.529-.734c23.243 14.902 50.85 23.597 80.51 23.597c96.607 0 149.434-80.031 149.434-149.435c0-2.278-.05-4.543-.152-6.795A106.748 106.748 0 0 0 256 25.45'/%3E%3C/svg%3E")
    no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  width: 1.2em;
  height: 1.2em;
}
